<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SL/VL Online</title>

    @Styles.Render("~/Content/css")

    <title>Elmer | @ViewBag.Title</title>
</head>
<body class="nav-md" ng-controller="mainController as main" ng-init="Init()">
  <div class="container body">

      <div growl class="fading"></div>

      <div class="main_container">
          <div class="col-md-3 left_col">
              <div class="left_col scroll-view">
                  <div class="navbar nav_title" style="border:0;">
                      <a href="#" class="site_title"><i class="fa fa-calendar"></i><span>SL/VL Online</span></a>
                  </div>

                  <div class="clearfix"></div>

                  <div class="profile">
                      <div class="profile_pic">
                          <img src="~/Src/Images/blank-profile-picture.png" alt="profile picture" class="img-circle profile_img"/>
                      </div>

                      <div class="profile_info">
                          <span>Welcome, </span>
                          <h2>{{main.CurrentUser.FirstName}} {{main.CurrentUser.LastName}}</h2>
                      </div>
                  </div><!--Profile-->

                  <br />

                  <!--sidebar menu-->
                  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                      <div class="menu_section">
                          <h3>{{main.CurrentUser.Position}}</h3>
                          <ul class="nav side-menu">
                              <li><a href="/Leave/FiledForms"><i class="fa fa-file-o"></i>Dashboard</a></li>
                              <li><a href="/Leave/FileForm"><i class="fa fa-edit"></i>Quick File</a></li>
                              <li ng-show="main.CurrentUser.IfApprover == 'Y'"><a href="/Leave/ForApproval"><i class="fa fa-check"></i>For Approval</a></li>
                              <li ng-show="main.CurrentUser.Type == 'ADM'"><a href="/GroupApprover/Index"><i class="fa fa-group"></i>Group Approver</a></li>
                              <li ng-show="main.CurrentUser.Type == 'ADM' || main.CurrentUser.Type == 'HR' "><a href="/Calendar/CalendarSchedule"><i class="fa fa-calendar-check-o"></i>Events</a></li>
                              <li><a href="/Calendar/Schedule"><i class="fa fa-calendar"></i>Calendar</a></li>
                              <li ng-show="main.CurrentUser.Type == 'ADM' || main.CurrentUser.Type == 'HR' "><a href="/User/HRModule"><i class="fa fa-user"></i> HR Module</a></li>
                              <li ng-show="main.CurrentUser.Type == 'HR' || main.CurrentUser.Type == 'ADM'"><a href="/User/LeaveCredit"><i class="fa fa-plus-circle"></i>Leave Credit</a></li>
                              <li ng-show="main.CurrentUser.Type == 'HR' || main.CurrentUser.Type == 'ADM'"><a href="/LeaveType/Index"><i class="fa fa-stack-overflow"></i>Leave Type</a></li>
                              <li ng-show="main.CurrentUser.Type == 'ADM'"><a href="/User/EmailNotificationAccount"><i class="fa fa-envelope"></i>Email Account</a></li>
                              <li><a href="#" ng-click="Logout()"><i class="fa fa-sign-out"></i>Log out</a></li>
                          </ul>
                      </div>
                  </div>
          </div><!--left_col scroll-view-->
      </div><!--col-md-3 left_col-->

        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </nav>
            </div>
        </div>

          <!-- page content -->
          <div class="right_col" role="main">
              @RenderBody()
              <div class="clearfix"></div>
          </div>
          <!-- /page content -->
  </div>
</div>


    @Scripts.Render("~/bundles/angular")


    <script>
        $(document).ready(function () {
            $(".select2_single").select2({
                placeholder: "Please Select",
                allowClear: true,
            });
        });
    </script>
</body>
</html>
    